<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- Minimum logger severity level -->
    <!-- Possible values (from least to most verbose): -->
    <!--  Initialize all the exportation from ops system -->
    <add key="LoggerSeverity" value="Debug" />
    <!-- Connection string to OPS database -->
    <add key="OPSConnectionString" value="Server=otsdb;User Id=opszrgz;Pwd=opszrgz;" />
    <!-- Maxmimum number of registers to process in each execution -->
    <add key="MaxRegisters" value="100" />
    <!-- Maxmimum number of retries -->
    <add key="MaxRetries" value="5" />
    <!--  Notification types -->
    <add key="NotificationType.Parking" value="1"/>
    <add key="NotificationType.Recharge" value="2"/>
    <add key="NotificationType.Fine" value="3"/>
    <add key="NotificationType.Balance" value="4"/>
    <add key="NotificationType.Bonus" value="5"/>
    <add key="NotificationType.ResWarn" value="6"/>
    <add key="NotificationType.ResExp" value="7"/>
    <!--  Notification type texts -->
    <add key="NotificationTypeText.Parking" value="unparking"/>
    <add key="NotificationTypeText.Recharge" value="recharge"/>
    <add key="NotificationTypeText.Fine" value="fine"/>
    <add key="NotificationTypeText.Balance" value="balance"/>
    <add key="NotificationTypeText.Bonus" value="bonus"/>
    <add key="NotificationTypeText.ResWarn" value="app"/>
    <add key="NotificationTypeText.ResExp" value="resexp"/>
    <!--  Notification texts -->
    <add key="NotificationText.Parking" value="Estacionamiento próximo a finalizar"/>
    <add key="NotificationText.Recharge" value="Recarga de saldo realizado con éxito"/>
    <add key="NotificationText.Fine" value="Notificación de denuncia"/>
    <add key="NotificationText.Balance" value="Saldo inferior a {0} euros"/>
    <add key="NotificationText.Bonus" value="Bonificación por notificaciones"/>
    <add key="NotificationText.ResWarn" value="Su título de residente caduca el día {0}. Recuerde tramitar su renovación en nuestras oficinas o en la web www.zmute.es"/>
    <add key="NotificationText.ResExp" value="Título residente ha caducado "/>
    <!--  Notification states -->
    <add key="NotificationState.Pending" value="0" />
    <add key="NotificationState.Sent" value="1" />
    <add key="NotificationState.Error" value="2" />
    <!--  Device OS types -->
    <add key="DeviceOS.Android" value="1" />
    <add key="DeviceOS.iOS" value="2" />
    <!--  Google application APIKEY -->
    <add key="APIKEY" value="AIzaSyCGiKY302fEjwL-I4V1G9p0wN_7_8EylmQ" />
    <!--<add key="APIKEY" value="AIzaSyBTZwAkEaklNXw9tkWcIYF1-tqNdpSJ1gQ" />-->
    <!--<add key="APIKEY" value="AIzaSyDprOJ4kgi4tWr4nxsADwsZWWemw6az9BE"/>-->
    <!--  Apple notification data -->
    <add key="iOS.CertPath" value="C:\\Projects\\ops\\01_trunk\\02_SRC\\CC\\CC\\OPSNotifier\\OPSNotifier\\ApParca_APNS_Prod_Certificados.p12" />
    <add key="iOS.CertPassword" value="dLhMg3qm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Resident notification states -->
    <add key="ResNotifState.Pending" value="0"/>
    <add key="ResNotifState.30day" value="1"/>
    <add key="ResNotifState.15day" value="2"/>
    <add key="ResNotifState.5day" value="3"/>
    <add key="ResNotifState.Expired" value="4"/>
    <!-- Resident activation states -->
    <add key="ResActived.Active" value="1"/>
    <!-- Enable activations -->
    <add key="NotifyParkings" value="0"/>
    <add key="NotifyRecharges" value="0"/>
    <add key="NotifyFines" value="0"/>
    <add key="NotifyBalance" value="0"/>
    <add key="NotifyResidents" value="1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>